numpy
fastapi
uvicorn
httpx
django>=4.2,<6
psycopg2-binary
django-cors-headers
gunicorn
whitenoise
requests
beautifulsoup4
lxml
sentence-transformers
faiss-cpu
python-dotenv
playwright
#llama-cpp-python
